node-linker=hoisted
resolution-mode=highest
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
save-workspace-protocol=rolling
save-prefix=''
engine-strict=true
public-hoist-pattern[]=next
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lucide-react
use-node-version=22.x
node-version=22.x 